body {
    margin: 0;
    padding: 0;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white; 
}

img {
    max-width: 80%;
    height: auto;
    filter: opacity(0.8);
}
